server/scripts.py
.gitignore
.dockerignore
Makefile

**/*.md
**/*.pyc
**/Dockerfile*
**/typings
**/target
client/**
!client/pyproject.toml

__pycache__/
tests/
.github/
.venv/
.ruff_cache/
.pytest_cache/
