{
	order rate_limit before basicauth
	order cache before rewrite
	cache
}

:{$APP_PORT} {
	cache {
		allowed_http_verbs GET POST
		ttl 24h
		timeout {
			backend {$CACHE_TIMEOUT}
		}
	}

	rate_limit {
		zone dynamic_example {
			key {remote_host}
			events {$EVENTS_PER_WINDOW}
			window 60s
		}
	}

	handle_path /api/* {
		reverse_proxy http://localhost:{$SERVER_PORT}
	}
}
