{
	order cache before rewrite
	cache
}

:{$APP_PORT} {
	cache {
		allowed_http_verbs GET POST
		ttl 24h
		timeout {
			backend {$CACHE_TIMEOUT}
		}
	}

	handle_path /api/* {
		reverse_proxy http://localhost:{$SERVER_PORT}
	}
}
