[tool.pylint.format]
good-names = ["x", "y", "z", "id", "ok"]

[tool.pylint.messages_control]
disable = [
  "missing-module-docstring",
  "no-name-in-module",
  "useless-import-alias",
  "line-too-long",
  "too-many-arguments",
  "too-few-public-methods",
  "too-many-instance-attributes",
  "too-many-positional-arguments",
]

[tool.pyright]
stubPath = "server/typings"
typeCheckingMode = "strict"
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false

[tool.ruff]
line-length = 120

[tool.ruff.format]
quote-style = "single"

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.poetry]
name = "nllb-api"
version = "4.0.0"
description = ""
authors = ["winstxnhdw <you@example.com>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"
litestar = "^2.12.1"
pydantic-settings = "^2.5.2"
transformers = "^4.45.1"
ctranslate2 = "^4.4.0"
fasttext-predict = "^0.9.2.2"
uvloop = { version = "^0.20.0", markers = "sys_platform != 'win32'" }
picologging = "^0.9.3"
granian = "^1.6.0"

[tool.poetry.group.cuda.dependencies]
nvidia-cublas-cu12 = "^12.6.3.3"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.383"
pylint = "^3.3.1"
pytest = "^8.3.3"
ruff = "^0.6.8"
httpx = "^0.27.2"
