[tool.pyright]
stubPath = "server/typings"
typeCheckingMode = "strict"
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false
reportPrivateUsage = false

[tool.ruff]
line-length = 120

[tool.ruff.format]
quote-style = "single"

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.poetry]
name = "nllb-api"
version = "4.0.0"
description = ""
authors = ["winstxnhdw <you@example.com>"]
readme = "README.md"
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"
litestar = "^2.14.0"
pydantic-settings = "^2.7.1"
transformers = "^4.48.3"
ctranslate2 = "^4.5.0"
fasttext-predict = "^0.9.2.4"
uvloop = { version = "^0.21.0", markers = "sys_platform != 'win32'" }
picologging = "^0.9.3"
granian = "^1.7.6"

[tool.poetry.group.cuda.dependencies]
nvidia-cublas-cu12 = "^12.8.3.14"

[tool.poetry.group.dev.dependencies]
pyright = "^1.1.393"
pytest = "^8.3.4"
ruff = "^0.9.6"
httpx = "^0.28.1"
