[project]
name = "nllb-api"
version = "4.2.0"
description = "A fast CPU-based API for NLLB"
requires-python = "~=3.13"
dependencies = [
    "ctranslate2>=4.6.0",
    "fasttext>=0.9.3",
    "granian>=2.3.4",
    "litestar>=2.16.0",
    "pydantic-settings>=2.10.0",
    "uvloop>=0.21.0; sys_platform != 'win32'",
    "picologging>=0.9.3; python_version < '3.13'",
    "tokenizers>=0.21.1",
    "prometheus-client>=0.22.1",
    "aiohttp>=3.12.13",
]

[dependency-groups]
dev = ["httpx>=0.28.1", "nodejs-wheel-binaries>=22.16.0", "pyright>=1.1.402", "pytest>=8.4.1", "ruff>=0.12.0"]

[project.optional-dependencies]
cuda = ["nvidia-cublas-cu12>=12.9.1.4"]

[project.scripts]
nllb-api = "server:main"

[tool.uv]
package = true

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "Q", "TC", "ANN001", "PLC0414", "INP001", "S104", "PYI001", "COM812", "SLF001", "PT013", "PLR0913"]

[tool.ruff.format]
quote-style = "single"

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.pyright]
stubPath = "server/typings"
typeCheckingMode = "strict"
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false
reportPrivateUsage = false
