[project]
name = "nllb-api"
version = "4.0.0"
description = "A fast CPU-based API for NLLB"
requires-python = "~=3.13"
dependencies = [
    "ctranslate2>=4.6.0",
    "fasttext>=0.9.3",
    "granian>=2.2.5",
    "litestar>=2.15.2",
    "pydantic-settings>=2.9.1",
    "transformers>=4.51.3",
    "uvloop>=0.21.0; sys_platform != 'win32'",
    "picologging>=0.9.3; python_version < '3.13'",
]

[project.optional-dependencies]
cuda = ["nvidia-cublas-cu12>=12.8.4.1"]

[project.scripts]
nllb-api = "server:main"

[dependency-groups]
dev = ["httpx>=0.28.1", "nodejs-wheel-binaries>=22.15.0", "pyright>=1.1.399", "pytest>=8.3.5", "ruff>=0.11.6"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["server"]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "Q", "TC", "ANN001", "PLC0414", "INP001", "S104", "PYI001", "COM812", "SLF001", "PT013", "PLR0913"]

[tool.ruff.format]
quote-style = "single"

[tool.pytest.ini_options]
pythonpath = ["."]

[tool.pyright]
stubPath = "server/typings"
typeCheckingMode = "strict"
reportUnknownVariableType = false
reportUnknownMemberType = false
reportMissingTypeStubs = false
reportPrivateUsage = false
